*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
address {
  font-style: normal;
}
img {
  display: block;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}
.container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo-top-nav {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  margin-right: 76px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
}
.top-span-logo {
  color: #2e2f42;
}

.menu-nav-top {
  display: flex;
  gap: 40px;
  color: #2e2f42;
}
.menu-nav-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.link-nav {
  color: #2e2f42;
  font-style: normal;
  padding: 24px 0;
}

.link-nav:hover {
  color: #404bbf;
}
.link-nav:focus {
  color: #404bbf;
}
.nav-top-contacts {
  display: flex;
}
.nav-contacts-menu {
  display: flex;
  gap: 40px;
}
.nav-contacts-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link-contacts {
  color: #434455;
}
.link-contacts:hover,
.link-contacts:focus {
  color: #404bbf;
}

.hero-image-top {
  background-color: #2e2f42;
  padding: 188px 0;
}

.first-head-hero {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}

.hero-btn {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;

  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.hero-btn:hover {
  background-color: #404bbf;
}
.hero-btn:focus {
  background-color: #404bbf;
}
.visually-hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}
.main-benefits-menu {
  padding: 120px 0;
}

.benefits-menu-top {
  display: flex;
  gap: 24px;
}

.benefits-head-text {
  font-weight: 500;
  font-size: 20px;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;

  width: calc((100% - 72px) / 4);
  margin-bottom: 8px;
}

.our-team-top {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.second-head-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
.our-team-menu {
  display: flex;
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
}

.our-team-item {
  background-color: #ffffff;
  text-align: center;
  width: calc((100% - 72px) / 4);
}
.team-container-item {
  padding: 32px 0;
}
.our-team-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.our-team-text {
  text-align: center;
}
.our-porfolio-top {
  padding-top: 120px;
  padding-bottom: 120px;
}
.second-head-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-porfolio-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  width: calc((100% - 48px) / 3);
  border-radius: 0px 0px 4px 4px;
}
.our-porfolio-item {
}
.portfolio-container-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.our-portfolio-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.down-section-menu {
  background-color: #2e2f42;
  padding: 100px 0;
}
.down-logo-text {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-bottom: 16px;
}
.down-span-logo {
  color: #f4f4fd;
}
.paragraph-text-footer {
  color: #f4f4fd;
  max-width: 264px;
}
