*,
*:before,
*:after {
  box-sizing: border-box;
}
.container {
  width: 1558px;
  margin: 0 auto;
  padding: 0 auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
address {
  font-style: normal;
}

.header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.logo-top-nav {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  padding-top: 17px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  padding-left: 156px;
}
.top-span-logo {
  color: #2e2f42;
}

.menu-nav-top {
  color: #2e2f42;
  margin-left: 76px;
  gap: 40px;
  display: flex;
}
.menu-nav-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.link-nav {
  color: #2e2f42;
  font-style: normal;
}

.link-nav:hover {
  color: #404bbf;
}
.link-nav:focus {
  color: #404bbf;
}
.nav-top-contacts {
  padding-right: 156px;
}
.nav-contacts-menu {
  display: flex;
  gap: 40px;
}
.nav-contacts-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link-contacts {
  color: #434455;
}
.link-contacts:hover {
  color: #404bbf;
}
.link-contacts:focus {
  color: #404bbf;
}
.hero-image-top {
  background-color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 120px;
}
.first-head-hero {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-right: 472px;
  padding-left: 472px;
  margin-bottom: 48px;
}
.button-decoration {
  padding-left: 656px;
}

.hero-btn {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  padding: 16px 32px;
  display: inline-flex;
}
.hero-btn:hover {
  background-color: #404bbf;
}
.hero-btn:focus {
  background-color: #404bbf;
}
.main-benefits-menu {
  padding-top: 120px;
  padding-bottom: 120px;
}
.benefits-menu-top {
  display: flex;
  gap: 40px;
  padding-right: 156px;
  padding-left: 156px;
}
.benefits-head-text {
  font-weight: 500;
  font-size: 20px;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}
.benefits-menu-item {
  width: 264px;
}
.our-team-top {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.second-head-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
.our-team-menu {
  display: flex;
  gap: 24px;
  padding-left: 156px;
}
.our-team-item {
  background-color: #ffffff;
  text-align: center;
}
.our-team-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-porfolio-top {
  padding-top: 120px;
  padding-bottom: 120px;
}
.second-head-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-porfolio-menu {
  display: flex;
  gap: 32px;
  padding-left: 156px;
}
.our-portfolio-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.down-section-menu {
  background-color: #2e2f42;
  padding-top: 101.5px;
  padding-bottom: 100px;
}
.down-logo-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  padding-left: 156px;
}
.down-span-logo {
  color: #f4f4fd;
  margin-bottom: 18px;
}
.paragraph-text-footer {
  color: #f4f4fd;

  padding-left: 156px;
}
