body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo-top-nav {
  color: var(--IRIS, #4d5ae5);

  font-family: Raleway, sans-serif;
  font-size: 18px;

  font-weight: 700;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
}
.top-span-logo {
  color: #2e2f42;

  font-family: Raleway, sans-serif;
  font-size: 18px;

  font-weight: 700;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
}
.menu-nav-top {
  color: #2e2f42;
}
.menu-nav-item {
  list-style-type: none;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.link-nav {
  color: #2e2f42;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
}

.link-nav:hover {
  color: #404bbf;
}
.link-nav:focus {
  color: #404bbf;
}
address {
  font-style: normal;
}

.nav-contacts-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  text-decoration: none;
  list-style-type: none;
}
.link-contacts {
  color: #434455;

  text-decoration: none;
  list-style-type: none;
}
.link-contacts:hover {
  color: #404bbf;
}
.link-contacts:focus {
  color: #404bbf;
}
.hero-image-top {
  background-color: #2e2f42;
}
.first-head-hero {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.hero-btn:hover {
  background-color: #404bbf;
}
.hero-btn:focus {
  background-color: #404bbf;
}
.benefits-head-text {
  font-weight: 500;
  font-size: 20px;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}
.benefits-menu-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.our-team-top {
  background-color: #f4f4fd;
}
.second-head-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.our-team-item {
  background-color: #ffffff;
}
.our-team-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.our-team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.second-head-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.our-portfolio-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.our-portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.down-section-menu {
  background-color: #2e2f42;
}
.down-logo-text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.down-span-logo {
  color: #f4f4fd;
}
.paragraph-text-footer {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
